<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf Output</title>
</head>
<body>
<h1>Thymeleaf 활용</h1>
<h2>th:text와 th:utext의 차이</h2>
<div th:text="${testStr}"></div>
<div th:utext="${testStr}"></div>
<hr>
<h2>Map 데이터 출력</h2>
<p th:text="${mapdata.data1}"></p>
<p th:text="${mapdata.data2}"></p>
<p th:text="${mapdata.data3}"></p>
<hr>
<h2>Dto 데이터 출력 1</h2>
<p th:text="${dtoData.getName()}"></p>
<p th:text="${dtoData.age}"></p>
<p th:text="${dtoData.address}"></p>
<hr>
<h2>Dto 데이터 출력 2</h2>
<th:block th:object="${dtoData}">
    <p th:text="*{name}"></p>
    <p th:text="*{age}"></p>
    <p th:text="*{address}"></p>
</th:block>
<hr>
<a th:href="@{t_control}">타임리프 제어문</a>
</body>
<script th:inline="javascript">
    let msg = [[${message}]];
    if(msg != null){
        alert(msg);
    }
</script>
</html>